<title>
	{{album.album_title}}
</title>
<img src="{{album.album_logo}}",height=200, width=200>

<h1>
	{{album.album_title}}
</h1>
<h2>
	{{album.artist}} :
	{{album.genre}}
</h2>

{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
	<!-- automatic protection from csrf -->
	{% csrf_token %}

	{% for song in album.song_set.all %}
		<!-- making radio buttons -->
		<!-- forloop counter autoincrements -->
		<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>

		<label for="song{{forloop.counter}}">
			{{song.song_title}}
			{% if song.is_favorite %}
				<img src="http://i.imgur.com/b9b13Rd.png" height=16 width=16/>
			{% endif %}
		</label><br>	
	{% endfor %}
	<br>
	<input type="submit" value="Favorite"/>
</form>