{% extends 'music/base.html' %}

{% block body %}
	<title>
		Albums
	</title>
	{% if all_albums %}
	<h2>
		Here are all your albums:
	</h2>
	<h3>	
		<ul>
			{% for album in all_albums %}
			<!-- using the variable name we declared in urls.py -->
			<!-- that was urls.py for music app (name declared in music/urls.py), so we use appname:variable_name -->
			<li><a href="{% url 'music:detail' album.id%}">{{album.album_title }}</a></li>
			{% endfor %}
		</ul>
	</h3>

	{%else%}
		<h3>You don't have any albums</h3>
	{%endif%}
{%endblock%}