<!-- Loading the path to the static files -->
<!-- Adding CSS basically -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
<!-- Using bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<!-- Building a navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Logo -->
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'music:index' %}">MYUSIC</a>
		</div>
	</div>
</nav>



<title>
	Albums
</title>
{% if all_albums %}
<h2>
	Here are all your albums:
</h2>
<h3>	
	<ul>
		{% for album in all_albums %}
		<!-- using the variable name we declared in urls.py -->
		<!-- that was urls.py for music app (name declared in music/urls.py), so we use appname:variable_name -->
		<li><a href="{% url 'music:favorite' album.id%}">{{album.album_title }}</a></li>
		{% endfor %}
	</ul>
</h3>

{%else%}
	<h3>You don't have any albums</h3>
{%endif%}